<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GYM.My.MySettings.GymConnectionString" connectionString="Data Source=m1-pc;Initial Catalog=Gym;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
        <add name="GYM.My.MySettings.PaintsConnectionString" connectionString="Data Source=192.168.1.6;Initial Catalog=Paints;Persist Security Info=True;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
        <add name="GYM.My.MySettings.GymConnectionString1" connectionString="Data Source=192.168.1.6;Initial Catalog=Gym;Persist Security Info=True;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
        <add name="GYM.My.MySettings.GymConnectionString2" connectionString="Data Source=.;Initial Catalog=Gym;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
